.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.692871;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.939941;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.947754;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:0.713867;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.m1{transform:none;-ms-transform:none;-webkit-transform:none;}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._6{margin-left:-6.840000px;}
._4{margin-left:-5.040000px;}
._5{margin-left:-2.660000px;}
._3{margin-left:-1.440000px;}
._1{width:26.960000px;}
._0{width:29.760000px;}
._2{width:30.800000px;}
.fc1{color:rgb(48,49,50);}
.fc2{color:rgb(255,255,255);}
.fc0{color:rgb(0,0,0);}
.fs4{font-size:45.200000px;}
.fs1{font-size:48.000000px;}
.fs3{font-size:54.000000px;}
.fs2{font-size:90.000000px;}
.fs0{font-size:96.000000px;}
.y0{bottom:210.000000px;}
.y1d{bottom:241.600000px;}
.y1e{bottom:243.800000px;}
.y1c{bottom:288.100000px;}
.y1b{bottom:301.900000px;}
.y1a{bottom:315.700000px;}
.y19{bottom:329.500000px;}
.y18{bottom:343.300000px;}
.y15{bottom:416.400000px;}
.y14{bottom:445.500000px;}
.y13{bottom:460.900000px;}
.y12{bottom:476.400000px;}
.y16{bottom:519.500000px;}
.y17{bottom:520.300000px;}
.y11{bottom:567.500000px;}
.y10{bottom:586.200000px;}
.yf{bottom:611.800000px;}
.ye{bottom:660.400000px;}
.yd{bottom:676.900000px;}
.yc{bottom:693.500000px;}
.yb{bottom:710.000000px;}
.ya{bottom:733.600000px;}
.y9{bottom:780.700000px;}
.y8{bottom:797.200000px;}
.y7{bottom:813.800000px;}
.y6{bottom:830.300000px;}
.y5{bottom:846.900000px;}
.y4{bottom:870.400000px;}
.y3{bottom:919.300000px;}
.y2{bottom:984.400000px;}
.y1{bottom:1000.800000px;}
.h6{height:33.458594px;}
.h7{height:33.796875px;}
.h3{height:34.757812px;}
.h5{height:39.102539px;}
.h2{height:65.015625px;}
.h4{height:66.621094px;}
.h1{height:656.000000px;}
.h0{height:1079.971654px;}
.w1{width:600.500000px;}
.w0{width:611.971654px;}
.x0{left:11.500000px;}
.xb{left:123.800000px;}
.x5{left:164.800000px;}
.x6{left:166.500000px;}
.x7{left:168.500000px;}
.x8{left:171.400000px;}
.x3{left:178.800000px;}
.xc{left:191.300000px;}
.xe{left:210.800000px;}
.x9{left:213.800000px;}
.x1{left:220.300000px;}
.x4{left:254.300000px;}
.x2{left:285.100000px;}
.xa{left:288.900000px;}
.xf{left:352.000000px;}
.xd{left:354.400000px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
._6{margin-left:-9.120000pt;}
._4{margin-left:-6.720000pt;}
._5{margin-left:-3.546667pt;}
._3{margin-left:-1.920000pt;}
._1{width:35.946667pt;}
._0{width:39.680000pt;}
._2{width:41.066667pt;}
.fs4{font-size:60.266667pt;}
.fs1{font-size:64.000000pt;}
.fs3{font-size:72.000000pt;}
.fs2{font-size:120.000000pt;}
.fs0{font-size:128.000000pt;}
.y0{bottom:280.000000pt;}
.y1d{bottom:322.133333pt;}
.y1e{bottom:325.066667pt;}
.y1c{bottom:384.133333pt;}
.y1b{bottom:402.533333pt;}
.y1a{bottom:420.933333pt;}
.y19{bottom:439.333333pt;}
.y18{bottom:457.733333pt;}
.y15{bottom:555.200000pt;}
.y14{bottom:594.000000pt;}
.y13{bottom:614.533333pt;}
.y12{bottom:635.200000pt;}
.y16{bottom:692.666667pt;}
.y17{bottom:693.733333pt;}
.y11{bottom:756.666667pt;}
.y10{bottom:781.600000pt;}
.yf{bottom:815.733333pt;}
.ye{bottom:880.533333pt;}
.yd{bottom:902.533333pt;}
.yc{bottom:924.666667pt;}
.yb{bottom:946.666667pt;}
.ya{bottom:978.133333pt;}
.y9{bottom:1040.933333pt;}
.y8{bottom:1062.933333pt;}
.y7{bottom:1085.066667pt;}
.y6{bottom:1107.066667pt;}
.y5{bottom:1129.200000pt;}
.y4{bottom:1160.533333pt;}
.y3{bottom:1225.733333pt;}
.y2{bottom:1312.533333pt;}
.y1{bottom:1334.400000pt;}
.h6{height:44.611458pt;}
.h7{height:45.062500pt;}
.h3{height:46.343750pt;}
.h5{height:52.136719pt;}
.h2{height:86.687500pt;}
.h4{height:88.828125pt;}
.h1{height:874.666667pt;}
.h0{height:1439.962205pt;}
.w1{width:800.666667pt;}
.w0{width:815.962205pt;}
.x0{left:15.333333pt;}
.xb{left:165.066667pt;}
.x5{left:219.733333pt;}
.x6{left:222.000000pt;}
.x7{left:224.666667pt;}
.x8{left:228.533333pt;}
.x3{left:238.400000pt;}
.xc{left:255.066667pt;}
.xe{left:281.066667pt;}
.x9{left:285.066667pt;}
.x1{left:293.733333pt;}
.x4{left:339.066667pt;}
.x2{left:380.133333pt;}
.xa{left:385.200000pt;}
.xf{left:469.333333pt;}
.xd{left:472.533333pt;}
}
