.htmlcd6ba85c7f559b44 {
	background-color:#e2e2e2;
	background-image:none;
}
.body6b64b2a6ce499a9d {
	margin:0px;
	padding:0px 0px 0px 0px;
	font-family:'Helvetica Neue','Helvetica','Arial','sans-serif';
	font-size:14px;
	color:#000000;
	line-height:22px;
	font-weight:normal;
	font-style:normal;
	text-decoration:none;
	line-height:22px;
	-webkit-text-size-adjust:100%;
}
.lineDiv84bb9ea278f0bc93 {
	margin:0;
	padding:0;
	line-height:0px;
	min-width:1000px;
	text-align:center;
}
.pageAreab0598d63a5868c70 {
	display:inline-block;
	vertical-align:top;
	text-align:left;
	width:1000px;
	margin:0px 0px 5px 0px;
	padding:0;
	min-height:371px;
	background-color:#ffffff;
	background-image:none;
	border-width:0px;
	border-style:solid;
	border-color:#000000;
}
.pageAreaContentc85085af90c0879f {
	position:relative;
	margin:0;
	padding:0;
	min-height:371px;
	line-height:22px;
}
.pageItem9696788a6671c472 {
	position:absolute;
	left:407px;
	top:0px;
	width:197px;
	height:32px;
	margin:0px;
	padding:0px 0px 0px 0px;
	background-color:transparent;
	background-image:none;
	border-width:0px;
	border-style:solid;
	border-color:#000000;
}
.headline57215bac294d5975 {
	margin:0px;
	padding:0px;
	text-align:left;
	line-height:24px;
}
.texta789bf945e8a823a {
	font-family:'Helvetica Neue','Helvetica','Arial','sans-serif';
	font-size:24px;
	color:#000000;
	line-height:32px;
	font-weight:bold;
	font-style:normal;
	text-decoration:none;
}
.pageItem902128887a306945 {
	position:absolute;
	left:800px;
	top:313px;
	width:200px;
	height:40px;
	margin:0px;
	padding:0px 0px 0px 0px;
	background-color:transparent;
	background-image:none;
	border-width:0px;
	border-style:solid;
	border-color:#000000;
}
.buttonLink4a55a2274998d5bd, .buttonLink4a55a2274998d5bd:link, .buttonLink4a55a2274998d5bd:visited {
	display:block;
	margin:0;
	width:196px;
	height:27px;
	padding:9px 0px 0px 0px;
	border:2px solid #000000;
	background-color:rgba(255, 255, 255, 0.5);
	font-family:'Helvetica Neue','Helvetica','Arial','sans-serif';
	font-size:18px;
	color:#000000;
	line-height:18px;
	font-weight:normal;
	font-style:normal;
	text-decoration:none;
	text-align:center;-webkit-border-radius: 10px;-moz-border-radius: 10px;border-radius: 10px;
}
.buttonLink4a55a2274998d5bd:hover {
	display:block;
	margin:0;
	width:196px;
	height:27px;
	padding:9px 0px 0px 0px;
	border:2px solid #000000;
	background-color:rgba(0, 0, 0, 0.5);
	font-family:'Helvetica Neue','Helvetica','Arial','sans-serif';
	font-size:18px;
	color:#ffffff;
	line-height:18px;
	font-weight:normal;
	font-style:normal;
	text-decoration:none;
	text-align:center;-webkit-border-radius: 10px;-moz-border-radius: 10px;border-radius: 10px;
}
.buttonLink4a55a2274998d5bd:active {
	display:block;
	margin:0;
	width:196px;
	height:27px;
	padding:9px 0px 0px 0px;
	border:2px solid #000000;
	background-color:#000000;
	font-family:'Helvetica Neue','Helvetica','Arial','sans-serif';
	font-size:18px;
	color:#ffffff;
	line-height:18px;
	font-weight:normal;
	font-style:normal;
	text-decoration:none;
	text-align:center;-webkit-border-radius: 10px;-moz-border-radius: 10px;border-radius: 10px;
}
.pageItemd888cc8cd4578488 {
	position:absolute;
	left:380px;
	top:26px;
	width:252px;
	height:44px;
	margin:0px;
	padding:0px 0px 0px 0px;
	background-color:transparent;
	background-image:none;
	border-width:0px;
	border-style:solid;
	border-color:#000000;
}
.paragraphc4a5bda45f745a8d {
	margin:0px;
	padding:0px;
	text-align:left;
	line-height:14px;
}
.texta7bb702e1a69887a {
	font-family:'Helvetica Neue','Helvetica','Arial','sans-serif';
	font-size:14px;
	color:#000000;
	line-height:22px;
	font-weight:normal;
	font-style:normal;
	text-decoration:none;
}
.pageItem7857be5b8a8191b8 {
	position:absolute;
	left:0px;
	top:50px;
	width:799px;
	height:321px;
	margin:0px;
	padding:0px 0px 0px 0px;
	background-color:transparent;
	background-image:none;
	border-width:0px;
	border-style:solid;
	border-color:#000000;
}
.iframe6f56857637736170 {
	width:799px;
	height:321px;
	border-width:0px;
}
.pageArea911a6f64997ed9c0 {
	display:inline-block;
	vertical-align:top;
	text-align:left;
	width:1000px;
	margin:0px 0px 5px 0px;
	padding:0;
	min-height:347px;
	background-color:#ffffff;
	background-image:none;
	border-width:0px;
	border-style:solid;
	border-color:#000000;
}
.pageAreaContent8653836c964781f6 {
	position:relative;
	margin:0;
	padding:0;
	min-height:347px;
	line-height:22px;
}
.pageItem37b76a3e6abc2342 {
	position:absolute;
	left:271px;
	top:11px;
	width:506px;
	height:42px;
	margin:0px;
	padding:0px 0px 0px 0px;
	background-color:transparent;
	background-image:none;
	border-width:0px;
	border-style:solid;
	border-color:#000000;
}
.pageItem6aa1c55c2d7388ba {
	position:absolute;
	left:800px;
	top:307px;
	width:200px;
	height:40px;
	margin:0px;
	padding:0px 0px 0px 0px;
	background-color:transparent;
	background-image:none;
	border-width:0px;
	border-style:solid;
	border-color:#000000;
}
.pageItem28728592691b737d {
	position:absolute;
	left:6px;
	top:53px;
	width:827px;
	height:246px;
	margin:0px;
	padding:0px 0px 0px 0px;
	background-color:transparent;
	background-image:none;
	border-width:0px;
	border-style:solid;
	border-color:#000000;
}
.picture6e5b63686880c340 {
	width: 827px;
	height: 246px;
	border-width:0;
}
.pageAreacc672c8e6d8baee3 {
	display:inline-block;
	vertical-align:top;
	text-align:left;
	width:1000px;
	margin:0px 0px 5px 0px;
	padding:0;
	min-height:250px;
	background-color:#ffffff;
	background-image:none;
	border-width:0px;
	border-style:solid;
	border-color:#000000;
}
.pageAreaContent8a46b4bd347fe05e {
	position:relative;
	margin:0;
	padding:0;
	min-height:250px;
	line-height:22px;
}
.pageIteme980a88b7c8c66db {
	position:absolute;
	left:260px;
	top:-17px;
	width:350px;
	height:220px;
	margin:0px;
	padding:0px 0px 0px 0px;
	background-color:transparent;
	background-image:none;
	border-width:0px;
	border-style:solid;
	border-color:#000000;
}
.pageItem997a8f89add7b1c0 {
	position:absolute;
	left:316px;
	top:10px;
	width:405px;
	height:42px;
	margin:0px;
	padding:0px 0px 0px 0px;
	background-color:transparent;
	background-image:none;
	border-width:0px;
	border-style:solid;
	border-color:#000000;
}
.pageItem56be86e99d549b93 {
	position:absolute;
	left:416px;
	top:126px;
	width:161px;
	height:28px;
	margin:0px;
	padding:0px 0px 0px 0px;
	background-color:transparent;
	background-image:none;
	border-width:0px;
	border-style:solid;
	border-color:#000000;
}
.headline90f97f6c4e2a4e87 {
	margin:0px;
	padding:0px;
	text-align:left;
	line-height:18px;
}
.textc24c9f1d5a561fa4 {
	font-family:'Helvetica Neue','Helvetica','Arial','sans-serif';
	font-size:18px;
	color:#000000;
	line-height:26px;
	font-weight:bold;
	font-style:normal;
	text-decoration:none;
}
.pageItem4cd8527e3c7f865e {
	position:absolute;
	left:800px;
	top:198px;
	width:200px;
	height:40px;
	margin:0px;
	padding:0px 0px 0px 0px;
	background-color:transparent;
	background-image:none;
	border-width:0px;
	border-style:solid;
	border-color:#000000;
}
.pageItema56766302bca7bdb {
	position:absolute;
	left:279px;
	top:10px;
	width:506px;
	height:42px;
	margin:0px;
	padding:0px 0px 0px 0px;
	background-color:transparent;
	background-image:none;
	border-width:0px;
	border-style:solid;
	border-color:#000000;
}
.pageItemf38d663e5b3e9a57 {
	position:absolute;
	left:800px;
	top:196px;
	width:200px;
	height:40px;
	margin:0px;
	padding:0px 0px 0px 0px;
	background-color:transparent;
	background-image:none;
	border-width:0px;
	border-style:solid;
	border-color:#000000;
}
.lineDiv327d9694966b7f6f {
	margin:0;
	padding:0;
	line-height:0px;
	min-width:500px;
	text-align:center;
}
.pageAread4a5b7a993cda030 {
	display:inline-block;
	vertical-align:top;
	text-align:left;
	width:500px;
	margin:0px 0px 0px 0px;
	padding:0;
	min-height:500px;
	background-color:#ffffff;
	background-image:none;
	border-width:0px;
	border-style:solid;
	border-color:#000000;
}
.pageAreaContentacd082a1906987a1 {
	position:relative;
	margin:0;
	padding:0;
	min-height:500px;
	line-height:22px;
}
